{% extends 'layout.html' %}

{% block content %}
    {% include 'searchbar.html' %}
    <hr>

    <div class="sections-list">
        <h2>Sections</h2>
        {% for section in sections %}
            <section>
                <h2>{{ section.name }}</h2>
                <div class="section-description">
                    {{ section.description }}
                </div>
                <hr>
                <div class="section-books">
                    {% for book in section.books %}
                        <div class="card" style="width: 18rem; display: inline-block;">
                            <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}" width="250" height="250">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">
                                    <strong>Author:</strong> {{ book.author }}<br>
                                    <strong>Content:</strong> {{ book.content }}
                                </p>
                                <div class="button-container">
                                            

                                        <form action="{{url_for('request_ebook', book_id = book.id)}}" method="post">
                                            <button type="submit" class="btn btn-primary">Request Ebook</button>
                                        </form>
                                    <a href="#" class="btn btn-success">Download PDF</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}