{% extends 'layout.html' %}

{% block title %}
    My Books
{% endblock %}

{% block content %}
<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <h1 class="display-3 mb-4 heading text-center">My Books</h1>
            <div class="card mb-4 text-center">
                <div class="card-body">
                    <h2 class="h4 mb-3">Recent:</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Book ID</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Image</th>
                                    <th>Section</th>
                                    <th>Date of Return</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                    <tr>
                                        <td>{{ book.id }}</td>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td><img src="{{ book.image }}" alt="Book Image" width="100" height="100"></td>
                                        <td>{{ book.section.name }}</td>
                                        <td>
                                            {% for request in book.requests %}
                                                {% if request.user_id == session['user_id'] %}
                                                    {{ request.return_date.strftime('%b %d, %Y') }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{{ url_for('read_my_book', id=book.id) }}" class="btn btn-primary" role="button">
                                                    <i class="fas fa-eye me-1"></i> Read
                                                </a>
                                                <form method="post" action="{{ url_for('return_book', user_id=session['user_id'], book_id=book.id) }}">
                                                    <button type="submit" class="btn btn-warning">
                                                        <i class="fas fa-undo me-1"></i> Return
                                                    </button>
                                                </form>
                                            </div>
                                            <form method="post" action="{{ url_for('submit_review', book_id=book.id) }}">
                                                <div class="form-group">
                                                    <label for="rating{{ book.id }}">Rating:</label>
                                                    <div class="rating" id="rating{{ book.id }}">
                                                        <input type="radio" id="star5{{ book.id }}" name="rating" value="5" required>
                                                        <label for="star5{{ book.id }}" title="5stars">&#9733;</label>
                                                        <input type="radio" id="star4{{ book.id }}" name="rating" value="4">
                                                        <label for="star4{{ book.id }}" title="4stars">&#9733;</label>
                                                        <input type="radio" id="star3{{ book.id }}" name="rating" value="3">
                                                        <label for="star3{{ book.id }}" title="3stars">&#9733;</label>
                                                        <input type="radio" id="star2{{ book.id }}" name="rating" value="2">
                                                        <label for="star2{{ book.id }}" title="2stars">&#9733;</label>
                                                        <input type="radio" id="star1{{ book.id }}" name="rating" value="1">
                                                        <label for="star1{{ book.id }}" title="1star">&#9733;</label>
                                                    </div>
                                                </div>
                                                <div class="form-group feedback">
                                                    <label for="feedback{{ book.id }}">Feedback:</label>
                                                    <textarea name="feedback" class="form-control" id="feedback{{ book.id }}" placeholder="Feedback" required></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-success">
                                                    <i class="fas fa-pencil-alt me-1"></i> Review
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <p class="text-center">Click here to view your past requests: <a href="{{ url_for('history') }}">History</a></p>
</div>

<style>
    .heading {
        color: #551a8b;
        font-family: 'Sacramento';
    }

    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 8px 16px rgba(85, 26, 139, 0.2);
        background-color: #f1e8ff;
        padding: 20px;
        margin-bottom: 30px;
        width: 95%;
        max-width: 1200px;
        margin: auto;
        transition: transform 0.3s ease-in-out;
    }

    .card-body {
        font-family: 'Poppins', sans-serif;
    }

    .table th,
    .table td {
        vertical-align: middle;
        border: 1px solid #dddddd; /* Add border to table cells */
        padding: 8px; /* Add padding to table cells */
    }

    .table tbody tr:hover {
        background-color: rgba(85, 26, 139, 0.1);
    }

    .table {
        background-color: #fff;
    }

    .btn {
        margin-right: 5px;
    }

    textarea {
        width: 100%;
        height: 100px;
        resize: vertical;
    }
/* Additional CSS for the Rating and Feedback */
/* Additional CSS for the Rating and Feedback */
.rating {
    display: inline-block;
    direction: rtl;
}

.rating input {
    display: none;
}

.rating label { /* Style the stars */
    font-size: 25px;
    color: #050400;
    cursor: pointer;
    
}

.rating input:checked ~ label, /* Change color of stars when clicked */
.rating label:hover, /* Change color of stars on hover */
.rating label:hover ~ label /* Change color of stars when clicked and hovered over */
{ 
    color: #ffc107;
}

.feedback {
    margin-top: 10px;
}


</style>

{% endblock %}
