<! This is the template for the My Requests page. It displays all the requests made by the user. The user can cancel the requests from this page. !>

{% extends 'layout.html' %}

{% block title %}
    My Requests
{% endblock %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <h1 class="display-3 mb-4 heading text-center">My Requests</h1>
                <div class="card mb-4 text-center">
                    <div class="card-body">
                        <h2 class="h4 mb-3">My Requests:</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Request ID</th>
                                        <th>Book Title</th>
                                        <th>Author</th>
                                        <th>Date Requested</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for request in user_requests %}
                                        <tr>
                                            <td>{{ request.id }}</td>
                                            <td>{{ request.book.title }}</td>
                                            <td>{{ request.book.author }}</td>
                                            <td>{{ request.request_date.strftime('%b %d, %Y') }}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Request Actions">
                                                    <a href="{{url_for('cancel_request', id = request.id)}}" class="btn btn-danger">
                                                        <i class="fas fa-times me-1"></i> Cancel
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}