{% extends 'layout.html' %}


{% block title %}
    Request Details
{% endblock %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <h1 class="display-3 mb-4 heading text-center">Request Details</h1>
                <div class="card mb-4 text-center">
                    <div class="card-body">
                        <h2 class="h4 mb-3">Request Details:</h2>
                        <div class="request-details">
                            <div class="request-detail">
                                <strong>Request ID:</strong> {{ user_request.id }}
                            </div>
                            <div class="request-detail">
                                <strong>Book ID:</strong> {{ user_request.book.id }}
                            </div>
                            <div class="request-detail">
                                <strong>Book Title:</strong> {{ user_request.book.title }}
                            </div>
                            <div class="request-detail">
                                <strong>Author:</strong> {{ user_request.book.author }}
                            </div>
                            <div class="request-detail">
                                <strong>User ID:</strong> {{ user_request.user.id }}
                            </div>
                            <div class="request-detail">
                                <strong>User Name:</strong> {{ user_request.user.username }}
                            </div>
                            <div class="request-detail">
                                <strong>Date Requested:</strong> {{ user_request.request_date.strftime('%b %d, %Y') }}
                            </div>
                            <div class="request-actions">
                                <a href="{{url_for('grant_request', id = user_request.id)}}" class="btn btn-success">
                                    <i class="fas fa-check me-1"></i> Grant
                                </a>
                                <a href="{{url_for('reject_request', id = user_request.id)}}" class="btn btn-danger">
                                    <i class="fas fa-times me-1"></i> Reject
                                </a>
                                <a href="{{url_for('view_book', id = user_request.book.id)}}" class="btn btn-primary">
                                    <i class="fas fa-eye me-1"></i> View Book
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
